<?php
$this->headTitle('Login');

$form->get('email')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'E-mail',
    'required' => true,
    'autofocus' => true
])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('password')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Senha',
    'required' => true,
])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Login</h2>
            <?php echo  $this->formLabel($form->get('email')); ?>
            <?php echo  $this->formElement($form->get('email')); ?>
            <br>
            <?php echo  $this->formLabel($form->get('password')); ?>
            <?php echo  $this->formElement($form->get('password')); ?>
            <div class="checkbox">
                <label>
                    <?php echo  $this->formElement($form->get('remember_me')); ?> Lembrar-me
                </label>
            </div>
            <?php echo  $this->formElement($form->get('redirect_url')); ?>
            <?php echo  $this->formElement($form->get('csrf')) ?>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        </form>
    </div>
</div>