<?php
$this->HeadScript()->appendFile('/js/imoveis.js','text/javascript');
$this->HeadScript()->appendFile('/js/jquery.mask','text/javascript');

$this->headTitle('Adicionar Imóvel');

$form->prepare();
?>

<h1>Editar Imóvel</h1>

<div class="row">
    <div class="col-md-6">
        <?php $form->prepare(); ?>
        <?= $this->form()->openTag($form); ?>
        <?= $this->formElement($form->get('id')); ?>
        <?= $this->formElement($form->get('jsonFotos')); ?>
        <div class="form-group">
            <?= $this->formLabel($form->get('titulo')); ?>
            <?= $this->formElement($form->get('titulo')); ?>
            <?= $this->formElementErrors($form->get('titulo')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('tipo')); ?>
            <?= $this->formElement($form->get('tipo')); ?>
            <?= $this->formElementErrors($form->get('tipo')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('cep')); ?>
            <?= $this->formElement($form->get('cep')); ?>
            <?= $this->formElementErrors($form->get('cep')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('cidade')); ?>
            <?= $this->formElement($form->get('cidade')); ?>
            <?= $this->formElementErrors($form->get('cidade')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('estado')); ?>
            <?= $this->formElement($form->get('estado')); ?>
            <?= $this->formElementErrors($form->get('estado')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('numero')); ?>
            <?= $this->formElement($form->get('numero')); ?>
            <?= $this->formElementErrors($form->get('numero')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('complemento')); ?>
            <?= $this->formElement($form->get('complemento')); ?>
            <?= $this->formElementErrors($form->get('complemento')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('bairro')); ?>
            <?= $this->formElement($form->get('bairro')); ?>
            <?= $this->formElementErrors($form->get('bairro')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('preco_venda')); ?>
            <?= $this->formElement($form->get('preco_venda')); ?>
            <?= $this->formElementErrors($form->get('preco_venda')); ?>
        </div>

    </div>
    <div class="col-md-6">

        <div class="form-group">
            <?= $this->formLabel($form->get('preco_locacao')); ?>
            <?= $this->formElement($form->get('preco_locacao')); ?>
            <?= $this->formElementErrors($form->get('preco_locacao')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('preco_temporada')); ?>
            <?= $this->formElement($form->get('preco_temporada')); ?>
            <?= $this->formElementErrors($form->get('preco_temporada')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('area')); ?>
            <?= $this->formElement($form->get('area')); ?>
            <?= $this->formElementErrors($form->get('area')); ?>
        </div>



        <div class="form-group">
            <?= $this->formLabel($form->get('dormitorio')); ?>
            <?= $this->formElement($form->get('dormitorio')); ?>
            <?= $this->formElementErrors($form->get('dormitorio')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('suite')); ?>
            <?= $this->formElement($form->get('suite')); ?>
            <?= $this->formElementErrors($form->get('suite')); ?>
        </div>


        <div class="form-group">
            <?= $this->formLabel($form->get('banheiro')); ?>
            <?= $this->formElement($form->get('banheiro')); ?>
            <?= $this->formElementErrors($form->get('banheiro')); ?>
        </div>


        <div class="form-group">
            <?= $this->formLabel($form->get('sala')); ?>
            <?= $this->formElement($form->get('sala')); ?>
            <?= $this->formElementErrors($form->get('sala')); ?>
        </div>


        <div class="form-group">
            <?= $this->formLabel($form->get('garagem')); ?>
            <?= $this->formElement($form->get('garagem')); ?>
            <?= $this->formElementErrors($form->get('garagem')); ?>
        </div>

        <div class="form-group">
            <label for="fotos">Fotos</label>
            <input type="file" name="fotos[]" multiple>
        </div>

    </div>
</div>
<div class="row">
        <?php
        foreach ($this->foto as $foto) {
            echo '<div class="col-md-2" id="foto-'.$foto->getId().'">';
            echo '<img width="200" src="'.$foto->getUrl().'">';
            echo '<button type="button" class="btn btn-danger btn-xs remover-foto" foto-id="'.$foto->getId().'"><span class="glyphicon glyphicon-remove"></span></button>';
            echo '</div>';
        }
        ?>
</div>
<br><br>
<?= $this->formElement($form->get('submit')); ?>
<?= $this->form()->closeTag(); ?>