<?php
$flashMessage = $this->flashMessenger()->getMessages();
if ($flashMessage) {
    echo "<div class='alert alert-info'>";
    echo reset($flashMessage);
    echo '</div>';
}

$form->prepare();

echo $this->form()->openTag($form);

?>
    <div class="form-element">
        <?php $fileElement = $form->get('xml-file'); ?>
        <?php echo $this->formLabel($fileElement); ?>
        <?php echo $this->formFile($fileElement); ?>
        <?php echo $this->formElementErrors($fileElement); ?>
    </div>

    <br>

    <button class="btn btn-primary">Importar</button>

<?php echo $this->form()->closeTag(); ?>