<?php
$flashMessage = $this->flashMessenger()->getMessages();
if ($flashMessage) {
    echo "<div class='alert alert-info'>";
    echo reset($flashMessage);
    echo '</div>';
}


$this->headTitle('Imóveis');
?>
<div class="row">
    <div class="col-md-6">
        <h1>Imóveis</h1>
    </div>
    <?php echo  $this->form()->openTag($form); ?>
    <div class="col-md-6">
        <div id="custom-search-input" style="margin-top: 15px;">
            <div class="input-group col-md-12">
                <?php echo  $this->formElement($form->get('busca')); ?>
                <?php echo  $this->formElementErrors($form->get('busca')); ?>
                <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>


<div class="row">

    <div class="col-md-12">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título(Cod. Imóvel)</th>
                <th scope="col">Tipo</th>
                <th scope="col">CEP</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>

        <?php foreach($imoveis as $imovel): ?>

        <tr>
            <th scope="row"><?php echo $imovel->getId(); ?></th>
            <td><?php echo $imovel->getTitulo(); ?></td>
            <td><?php if ($imovel->getTipo()) {
                echo $imovel->getTipo()->getTipo();
            } ?></td>
            <td><?php echo $imovel->getCep(); ?></td>
            <td><?php echo $imovel->getEstado(); ?></td>
            <td><?php echo $imovel->getCidade(); ?></td>
            <td>
                <a href="/editar/<?php echo $imovel->getId(); ?>" class="btn btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="/deletar/<?php echo $imovel->getId(); ?>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>

        <?php endforeach; ?>

            </tbody>
        </table>

        <?php echo $this->paginationControl($imoveis,
            'Sliding',
            'admin/partial/paginator',
            array('route' => 'imovel')); ?>
    </div>
</div>


